page-menu2 {
    
    h1{
        font-family: Arial !important;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 45px;
        color: white;
        text-shadow: 2px 2px #000000;
    }
    
    .slide1{
        background-image: url('https://imagens-vp.s3-sa-east-1.amazonaws.com/gifs/escalator2.gif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-size: 200% 100%;
    }

    .slide2{
        background-image: url('https://imagens-vp.s3-sa-east-1.amazonaws.com/gifs/escalator1.gif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-size: 300% 100%;
    }

    .slide3{
        background-image: url('https://imagens-vp.s3-sa-east-1.amazonaws.com/gifs/escalator3.gif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-size: 200% 100%;
    }

    .slide4{
        background-image: url('https://imagens-vp.s3-sa-east-1.amazonaws.com/gifs/escalator4.gif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-size: 200% 100%;
    }

    .swiper-pagination-bullet {
        background: rgb(0, 0, 0);
        opacity: 0.5;
      }
    
      .swiper-pagination-bullet-active {
        opacity: 1;
        background: #fdd000;
      }
    
}
