page-profile {
    .circle{
        width: 30%;
        border-radius: 100%;
        margin: auto auto 0 auto;
    }

    .bg{
        background-image: url('../assets/imgs/bg-profile.jpg');
        background-size: 150% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        padding-top: 40px;
    }

    .nome{
        color: white;
    }

    .edit-photo{
        bottom: 110px;
        border-radius: 55px;
        left: 195px;
        margin-bottom: -30px;
    }
    .fab {
        contain: initial;
      }
  
      ion-fab {
          ion-fab-list button[ion-fab] {
              overflow: visible;
  
              div.label {
                position: absolute;
                right: 48px;
                background: rgba(0,0,0,0.7);
                height: 24px;
                line-height: 16px;
                padding-left: 8px;
                padding-right: 8px;
                padding-top: 5px;
                padding-bottom: 5px;
                border-radius: 3px;
                color: #fff;
                box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
              }
          }
      }
}
