page-profile {
    .circle{
        width: 30%;
        border-radius: 100%;
        margin: auto auto 0 auto;
    }

    .bg{
        background-image: url('../assets/imgs/bg-profile.jpg');
        background-size: 150% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        padding-top: 40px;
    }

    .nome{
        color: white;
    }

    .edit-photo{
        bottom: 110px;
        border-radius: 55px;
        left: 195px;
        margin-bottom: -30px;
    }
}
