<ion-header>

</ion-header>

<ion-content>

    <ion-fab right bottom>
        <button ion-fab color="light"><ion-icon name="menu"></ion-icon></button>
        <ion-fab-list side="left">
          <button ion-fab (click)="goToSections()"><ion-icon name="albums"></ion-icon></button>
          <button ion-fab (click)="goToCategory()"><ion-icon name="construct"></ion-icon></button>
          <button ion-fab (click)="goToCart()"><ion-icon name="cart"></ion-icon></button>
          <button ion-fab (click)="logout()"><ion-icon name="exit"></ion-icon></button>
        </ion-fab-list>
      </ion-fab><!-- FAB com Menu em ícones -->
  <div class="bg">
    <ion-avatar (click)="presentActionSheet()">
      <img class="circle" [src]="profileImage"> 
    </ion-avatar>
    <h2 text-center class="nome">{{cliente?.nome}}</h2>
    <br>
    <!--<button ion-button color="light" (click)="presentActionSheet()" [disabled]="cameraOn" class="edit-photo"><ion-icon name="md-create"></ion-icon></button>-->
    <button *ngIf="picture" ion-button color="light" full (click)="sendPicture()">Enviar imagem</button>
    <button *ngIf="picture" ion-button color="danger" full (click)="cancel()">Descartar imagem</button>
  </div>
    
  <div>
      <ion-segment [(ngModel)]="perfil" color="dark">
        <ion-segment-button value="info" checked>
          Informações
        </ion-segment-button>
      </ion-segment>
    </div>
    
    <div [ngSwitch]="perfil">
      
        <ion-list *ngSwitchCase="'info'">
          <ion-item>
            
            <p>Nome</p>
            <h2>{{ cliente?.nome }}</h2>
            <hr>
            <p>Email</p>
            <h2>{{ cliente?.email }}</h2>
            <hr>
            <h2><strong>Endereços de Entrega</strong></h2>
          <div class="enderecos" *ngFor="let item of items">
            <p>Rua</p>
            <h2>{{ item.logradouro }}, {{ item.numero }}</h2>
            <hr style="width: 50%;">
            <p>Complemento</p>
            <h2>{{ item.complemento }}</h2>
            <hr style="width: 75%;">
            <p>Bairro</p>
            <h2>{{ item.bairro }}</h2>
            <hr style="width: 50%;">
            <p>CEP</p>
            <h2>{{ item.cep }}</h2><hr>  
          </div>
          </ion-item>
        </ion-list>
      
        <ion-list *ngSwitchCase="'fav'">
          <ion-item>
            <h2>Favoritos</h2>
          </ion-item>
        </ion-list>
      </div>

      <!--<ion-card>
        <ion-card-header>
          Enviar imagem de perfil
        </ion-card-header>
        <ion-item *ngIf="picture">
          <img [src]="picture">
        </ion-item>
        <ion-item>
          <button ion-button block (click)="getCameraPicture()" [disabled]="cameraOn">Camera</button>
          <button ion-button block (click)="getPicture()" [disabled]="cameraOn">Procurar imagem</button>
          <button *ngIf="picture" ion-button block (click)="sendPicture()">Enviar imagem</button>
          <button *ngIf="picture" ion-button block (click)="cancel()">Descartar imagem</button>
        </ion-item>
      </ion-card>-->  
</ion-content>
