page-home {
    img{
      align-self: center;
      margin: auto;
      display: block;
      padding: 10px;
    }

    ion-content {
        padding: 0 px;
        background-image: url('../assets/imgs/gif.gif');
        background-size: 350% 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .login-box {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0.623));
        padding: 20px 20px 0px 20px;
        margin-top: 30px;
      }
   
      ion-row {
         align-items: center;
         text-align: center;
       }
   
       ion-item {
           border-radius: 8px !important;
           padding-left: 15px !important;
           font-size: 0.9em;
           margin-bottom: 10px;
           border: 1px solid #ffffff;
           border-bottom: 0px !important;
           box-shadow: none !important;
       }
   
       .signup-col {
         margin: 0px 16px 0px 16px;
         padding-bottom: 20px;
       }
   
       .item-inner {
         border-bottom-color: #ffffff !important;
         box-shadow: none !important;
       }
   
       .submit-btn {
         border-radius: 30px !important;
       }
   
       .register-btn {
         color: #ffffff;
         font-size: 0.8em;
       }

       h3{
         font-size: 12px;
         color: #ffffff;
         text-align: center;
       }
    }
